%home
  %h1= "Menu"
  %h3= "Admin"
  = link_to "Add data", add_data_start_path
  = link_to "View data", view_data_home_path
  = link_to "Update relations", update_weight_start_path
  = link_to "Update reg relations", update_reg_weight_start_path
  %h2
    = link_to "GET RECOMMENDATIONS", recommendations_v1_path
    = link_to "GET RECOMMENDATIONS V2", recommendations_v2_path